# Visual Studio / VS Code
.vscode/
*.user
*.suo
*.tmp
*.log
*.DS_Store
.idea/
*.sublime-project
*.sublime-workspace

# Binaries
bin/
obj/
*.exe
*.dll
*.pdb

# Data / exported files
Data/
*.csv
*.db
*.bak

# Projekat-specific
Projekat1/*.txt

# Dotnet
*.vs/
*.nupkg
*.snupkg

# Ignore Docker volumes (optional)
volumes/

*.txt

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.venv/
env/
venv/
ENV/

# Logs
*.log

# Quart / ASGI server files (npr. Hypercorn)
*.pid
*.sock

# OS files
.DS_Store
Thumbs.db

# Python packaging
*.egg
*.egg-info/
dist/
build/